<!-- <div class="ui container">
  <div class="ui three item menu">
    {{pageTitle }}
  <a href="active item" [routerLink]="['/home']">Product List</a>
  <a href="active item" [routerLink]="['add']">Add Product</a>
  <a href="active item" [routerLink]="['pageNotFound']">Page Not Found</a>
</div>
</div>
<router-outlet></router-outlet>  -->

<mat-toolbar color="primary">
    <!-- <div class="button-row">
        {{pageTitle}} -->
      <button mat-button  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/home">Toms Products</button>
      <button mat-button  routerLinkActive="active" *ngIf="userLoggedIn()" routerLink="/product-list">List of Products</button>
      <button mat-button  routerLinkActive="active" *ngIf="userLoggedIn()" routerLink="/add-product">Add a Products</button>

      <span style="flex: 1 1 auto"></span>
      <button mat-button routerLinkActive="active" *ngIf="!isLoggedIn" routerLink="/login">Login</button>
      <button mat-button routerLinkActive="active" *ngIf="isLoggedIn" (click)=onLogout()>Logout</button>
      <button mat-button routerLinkActive="active" routerLink="/signup">Register</button>
    <!-- </div> -->
  </mat-toolbar>
  <router-outlet></router-outlet>